In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Python ##

In [3]:
2 + 9

11

In [4]:
2 * 4

8

In [5]:
# The line below errors
 * 4

IndentationError: unexpected indent (391313784.py, line 2)

In [6]:
2 ** 4

16

In [ ]:
# The line below errors 
# 2 * * 4

In [7]:
2/9

0.2222222222222222

In [8]:
2 + 3 * 9

29

In [9]:
(2 + 3) * 9

45

In [10]:
-1 - 1 + 2 * (3 * 4 * 5 / 6) ** 3 + 7 + 8 + 11

2024.0

In [11]:
'hello'

'hello'

In [12]:
'Data 8'

'Data 8'

## Names ##

In [13]:
a = 2

In [14]:
a

2

In [ ]:
# The line below causes a name error if b isn't assigned yet.
# b

In [15]:
b = 3
a * b

6

In [16]:
a

2

In [17]:
b

3

In [18]:
total = a + b
total

5

In [19]:
a = 10
total

5

In [20]:
total

5

In [21]:
a

10

In [22]:
total = a + b
total

13

In [ ]:
# The line below causes a syntax error
# a + b = total

In [23]:
a = a + 1
a

11

### Why Names?

A cell with arithmetic but no names is difficult to interpret.

In [24]:
# Option 1
40 * 15.50

620.0

In [25]:
40 * 52 * 15.50

32240.0

On January 1, 2024, the CA Minimum Wage for Employers with 26 Employees or More increased to $16/hour.

In [26]:
# Option 2
ca_hourly_minimum_wage = 16.00
hours_per_week = 40
weeks_per_year = 52

In [27]:
hours_per_year = hours_per_week * weeks_per_year

In [28]:
hours_per_year

2080

In [29]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

640.0

In [30]:
yearly_wages = weekly_wages * weeks_per_year
yearly_wages

33280.0

## Functions and Call Expressions

In [31]:
abs(-5)

5

In [32]:
abs(1 - 3)

2

In [33]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

5

In [34]:
min(14, 15)

14

In [35]:
round(123.456)

123

In [36]:
round(123.456, 1)

123.5

In [37]:
round(123.456, ndigits=1)

123.5

In [38]:
round?

Signature: round(number, ndigits=None)
Docstring:
Round a number to a given precision in decimal digits.

The return value is an integer if ndigits is omitted or None.  Otherwise
the return value has the same type as the number.  ndigits may be negative.
Type:      builtin_function_or_method

In [39]:
round(number=123.456)

123

In [ ]:
# The line below causes a type error because the wrong name was used.
# round(123.456, digs=1)

In [ ]:
# The line below causes an error if math has not been imported
# math.sqrt(2)

In [40]:
import math

In [41]:
math.sqrt(2)

1.4142135623730951